/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import url(//fonts.googleapis.com/css?family=Oswald:400,700|Merriweather:400,300);
 @import url(//fonts.googleapis.com/css?family=Pacifico|Open+Sans:300);
 @import "bootstrap-sprockets";
 @import "bootstrap";

 body {
  padding-top: 30px;
 }

 @mixin nav_link_hover {
  transition: 0.4s;
  color: lighten(#222, 30%);
  text-decoration: none;
}






a {
  color: darken(#e7e7e7, 70%);
}

.navbar {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

.navbar-default {

  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;

  .navbar-nav > li > a {
    color: #222;
  }

  .navbar-link {
    color: #222;
  }

  .navbar-brand {
    color: #222;
    letter-spacing: 1.25px;
  }

}

/* Item styles */

.item {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 1.5em;
  .item-title {
    font-family: 'Oswald', sans-serif;
    margin-top: 0;
  }
  .item-desc {
    font-size: 1em;
  }
  .time-ago {
    color: darken(#e7e7e7, 50%);
    font-size: 0.85em;
    letter-spacing: 1.25;
  }
  .item-sub-title {
    margin-bottom: 0;
  }
}

.item:nth-child(n+1) {
  padding-top: 1.5em;
}


.landing-page {
  background: url('https://dl.dropboxusercontent.com/s/09l892wk2umz6tm/checklist.jpg');
  text-align: center;
  background-size: cover;
 
h2 {
  padding-top: 3em;
  text-shadow: 0px 3px 4px #555;
  font-size: 4.5rem;
  font-weight: 300;
  color: white;
  }

  p {
    font-weight: 300;
  color: white;
    font-size: 2.5rem;
  }
 }

  #main_footer {
  padding: 17.5em 25%;
  
  .copyright {
    float: left;
    font-size: 1.0em;
    margin: 0;
   }
   nav {
    float: right;
    i {
      color: black;
      margin-left: 1em;
      padding-top: .2em;
      &:hover {
        color: white;
      }
    }
   }
 }




