<footer id="main_footer">
  <p class="copyright"> &copy; 2015 Neil Patel</p>
   <nav>
    <a href="http://twitter.com/neilp666" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="http://www.facebook.com/indianstartupshow" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="http://github.com/neilp666" target="_blank"><i class="fa fa-github"></i></a>
   </nav>
</footer>
