<div class="landing-page">

  <h2><strong>Welcome to your Checklist</strong></h2></br>
  <p>Keep track of your stuff</p>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Log in", new_user_session_path, class: "btn btn-lg btn-danger" %>


<footer id="main_footer">
  <h5 class="copyright"> &copy; Neil Patel</h5>
   <nav>
    <a href="http://twitter.com/neilp666" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="http://www.facebook.com/indianstartupshow" target="_blank"><i class="fa fa-facebook"></i></a>
    <a href="http://github.com/neilp666" target="_blank"><i class="fa fa-github"></i></a>
   </nav>
  
</footer>

</div>
